#board {
    display: flex;
    flex-wrap: wrap;
    
    margin: 1px;
    height: 400px;
    width: 300px;
    background-color: gray;
}

#rack {
    width: 100px;
    height: 100px;
    background-color: beige;
}

#chip-testing-1{
    text-align: center;
    vertical-align: center;
    
    margin: 2px;
    height: 30px;
    width: 30px;
    padding: 1px;
    border-radius: 50%;
    background-color: dodgerblue;
}
#chip1text {
    margin: 5px;
}